/* Estilos generales para el carrito */
.container {
    margin-top: 4.75%; /* Margen superior reducido para aprovechar más espacio vertical */
    margin-bottom: 4.75%; /* Margen inferior para separar del fondo */
    margin-left: auto; /* Centrando el contenedor horizontalmente */
    margin-right: auto; /* Centrando el contenedor horizontalmente */
    display: flex; /* Usar Flexbox para centrar contenido */
    flex-direction: column; /* Colocar elementos en columna */
    align-items: center; /* Centrar elementos en el eje transversal */
}

/* Centrando todo el texto */
.text-center {
    text-align: center; /* Alinea el texto al centro */
    margin-left: 180px;
}

/* Estilo para los inputs de solo lectura */
input[readonly] {
    background-color: #f9f9f9; /* Color de fondo gris claro */
    cursor: not-allowed; /* Cambia el cursor para indicar que no se puede editar */
    text-align: center; /* Centrar el texto dentro del input */
    font-weight: bold; /* Texto en negrita */
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5); /* Sombreado gris para el texto */
}

/* Botones */
.btn {
    margin-top: 2%; /* Espacio superior para botones aumentado para separación */
    width: auto; /* Ancho automático */
    padding: 10px 20px; /* Ajusta el tamaño del padding para hacerlos más pequeños */
    font-size: 18px; /* Tamaño de fuente más pequeño */
    display: inline-flex; /* Usar Flexbox para alinear contenido dentro del botón */
    align-items: center; /* Centrar íconos o texto verticalmente */
    font-weight: bold; /* Texto en negrita para botones */
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5); /* Sombreado gris para el texto */
    margin-left: 180px;
}

/* Ajustar el ancho de los botones */
.btn-outline-primary,
.btn-success {
    width: auto; /* Ancho automático */
    border-radius: 5px; /* Bordes redondeados */
}

/* Espaciado entre los inputs y botones */
.form-group {
    margin-bottom: 3%; /* Aumenta el espacio entre grupos de formulario */
    width: 100%; /* Hacer que el grupo ocupe todo el ancho */
    display: flex; /* Usar Flexbox para centrar el contenido del grupo */
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Centrar el contenido verticalmente */
}

/* Estilo para labels */
label {
    font-weight: bold; /* Texto en negrita para labels */
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5); /* Sombreado gris para el texto */
    width: 180px;
}
