/* Estilos generales */
body {
    display: flex; /* Añadido para que justify-content y align-items funcionen */
    flex-direction: column; /* Flexbox para columna */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 80vh; /* Altura ajustada */
    margin: 0; /* Sin márgenes */
    background-color: #f5f5f5;
}

h2 {
    color: #00f2ff;
    margin: 0 0 20px 0; /* Espaciado adecuado para móvil */
    text-align: center; /* Centrar el título en móvil */
}

.container {
    padding: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Ajuste ancho para móvil */
    max-width: 400px; /* Máximo ancho */
    margin: 3% auto; /* Centrar con margen automático */
}

.table-container {
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    height: auto; /* Altura adaptativa para móvil */
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f9f9f9;
}

.table-row {
    display: flex; /* Cambia a flex para móviles */
    flex-direction: column; /* Coloca columnas una debajo de otra */
    padding: 10px;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

.table-row .column {
    text-align: left; /* Ajusta texto a la izquierda */
    padding: 5px 0;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);
}

.table-header {
    background-color: #959595;
    color: white;
    padding: 10px; /* Menos relleno */
    font-size: 1rem; /* Reducir tamaño en móvil */
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);
}

.btn {
    padding: 10px; /* Botón más compacto */
    font-size: 16px; /* Tamaño reducido */
    width: 100%; /* Botón ancho completo */
    margin-top: 10px; /* Separación superior */
}

/* Hover para botones */
.btn:hover {
    background-color: #24923e;
    color: #ffffff;
}

@media (max-width: 768px) {
    .container {
        padding: 15px; /* Reducir espacio */
    }

    .table-row {
        flex-direction: column; /* Cambiar a diseño de columnas */
    }

    .table-header {
        font-size: 0.9rem; /* Reducir fuente */
    }

    .btn {
        font-size: 14px; /* Tamaño de fuente más pequeño */
        padding: 8px; /* Espaciado más pequeño */
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem; /* Reducir tamaño del título */
    }

    .table-container {
        padding: 5px; /* Menos espacio interno */
    }

    .table-row .column {
        font-size: 0.9rem; /* Texto más pequeño */
    }

    .btn {
        font-size: 12px; /* Fuente pequeña */
        padding: 6px; /* Espaciado menor */
    }
}
