/* Contenedor principal */
.contenedor {
    width: 85%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Título centrado */
.titulo-centrado {
    font-size: 32px;
    font-weight: bold;
    color: #00f2ff;
    margin-bottom: 30px;
    text-align: center;
}

/* Estilo para la cuadrícula de kebabs */
.cuadricula-kebabs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el número de columnas según el tamaño */
    gap: 500px;
    width: 100%;
}

/* Tarjeta de cada kebab */
.tarjeta-kebab {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: transform 0.2s ease;
}

.tarjeta-kebab:hover {
    transform: scale(1.02);
}

/* Imagen del kebab */
.imagen-kebab {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
}

/* Información del kebab */
.informacion-kebab {
    text-align: center;
    margin-top: 10px;
}

.informacion-kebab h3 {
    font-size: 20px;
    margin: 5px 0;
    color: #333;
}

.informacion-kebab p {
    font-size: 14px;
    color: #666;
}

/* Grupo de botones */
.grupo-botones {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* Botones */
.boton {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.boton-agregar-carrito {
    background-color: #28a745;
    color: white;
}

.boton-agregar-carrito:hover {
    background-color: #218838;
}

.boton-ver-mas {
    background-color: #ff0000;
    color: white;
}

.boton-ver-mas:hover {
    background-color: #840101;
}

/* Descripción del kebab */
.descripcion-kebab {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    text-align: center;
}
