body {
    background-color: #f4f4f4; /* Color de fondo suave */
    font-family: Arial, sans-serif; /* Fuente general */
    
}

.container {
    margin-top: 89px; /* Espacio superior para centrar el formulario */
    margin-bottom: 86px;
}

.login-form {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de profundidad */
    padding: 20px; /* Espaciado interno */
}

h2 {
    color: #00f2ff; /* Color del título */
    margin-bottom: 20px; /* Espacio inferior */
}

.form-group {
    margin-bottom: 70px; /* Espacio entre los campos del formulario */
}

.form-control {
    width: 100%; /* Ancho completo para los campos */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
}

.form-control:focus {
    border-color: #00f2ff; /* Color del borde al enfocarse */
}

.btn-primary {
    background-color: #00f2ff; /* Fondo rojo para el botón */
    color: #ffffff; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave */
    width: 20%;
    margin-left: 270px;
}

.btn-primary:hover {
    background-color: #008b8b; /* Color más oscuro al pasar el mouse */
}

.text-center a {
    color: #00f2ff; /* Color del enlace */
}

.clearfix {
    display: flex;
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center; /* Centrar verticalmente */
}

.checkbox-inline {
    font-size: 0.9em; /* Tamaño de fuente más pequeño */
}
