/* Contenedor principal */
.contenedor {
    width: 85%;
    margin: 4.34% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Título centrado */
.titulo-centrado {
    font-size: 32px;
    font-weight: bold;
    color: #00f2ff;
    margin-bottom: 60px;
    text-align: center;
}

/* Estilo para la cuadrícula de kebabs */
.cuadricula-kebabs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el número de columnas según el tamaño */
    gap: 20px;
    width: 100%;
}

/* Tarjeta de cada kebab */
.tarjeta-kebab {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: transform 0.2s ease;
}

.tarjeta-kebab:hover {
    transform: scale(1.02);
}

/* Imagen del kebab */
.imagen-kebab {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* Información del kebab */
.informacion-kebab {
    text-align: center;
    margin-top: 10px;
}

.informacion-kebab h3 {
    font-size: 30px;
    margin: 5px 0;
    color: #333;
}

.informacion-kebab p {
    font-size: 14px;
    color: #666;
}

/* Grupo de botones para modificar y borrar */
.grupo-botones {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* Botones de modificar y borrar */
.boton {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.boton-modificar {
    background-color: #28a745;
    color: white;
}

.boton-modificar:hover {
    background-color: #218838;
}

.boton-borrar {
    background-color: #ff0000;
    color: white;
}

.boton-borrar:hover {
    background-color: #840101;
}

/* Tarjeta para crear un nuevo kebab */
.tarjeta-crear-kebab {
    background-color: #f0f0f0;
    border: 2px dashed #aaa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease;
    height: 400px;
    
}

.tarjeta-crear-kebab:hover {
    transform: scale(1.05);
}

.contenedor-crear {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #555;
}

.icono-mas {
    font-size: 48px;
    font-weight: bold;
    color: #888;
}

.tarjeta-crear-kebab p {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

