/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

/* Contenedor principal */
.contenedor {
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sección de la tabla */
.seccion-tabla h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #00f2ff;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: bold;
}

.tabla-pedidos {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tabla-pedidos thead {
    background-color: #0fa1a9;
    color: #fff;
}

.tabla-pedidos th,
.tabla-pedidos td {
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

/* Botón para ver detalle */
.boton-ver-pdf {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-ver-pdf:hover {
    background-color: #218838;
}

/* Filtros */
.filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    margin-left: 200px;
}

.filtros label {
    font-size: 16px;
    margin-right: 10px;
    color: #333;
}

.filtros select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton-aplicar-filtro {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00f2ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.boton-aplicar-filtro:hover {
    background-color: #00c2cc;
}

/* Responsividad para pantallas medianas (tabletas) */
@media (max-width: 768px) {
    /* Contenedor principal */
    .contenedor {
        margin: 15px auto;
        padding: 25px;
    }

    /* Filtros */
    .filtros {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
    }

    .filtros label {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .filtros select {
        margin-bottom: 10px;
    }

    .boton-aplicar-filtro {
        width: 100%;
        margin-top: 10px;
    }

    /* Sección de la tabla */
    .seccion-tabla h2 {
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .tabla-pedidos th,
    .tabla-pedidos td {
        padding: 8px;
    }

    .tabla-pedidos {
        margin: 10px 0;
    }

    .boton-ver-pdf {
        width: 100%;
        margin-top: 10px;
    }
}

/* Responsividad para pantallas pequeñas (smartphones) */
@media (max-width: 480px) {
    /* Contenedor principal */
    .contenedor {
        margin: 10px auto;
        padding: 15px;
    }

    /* Filtros */
    .filtros {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        width: 100%;
    }

    .filtros label {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .filtros select {
        width: 100%;
        margin-bottom: 15px;
    }

    .boton-aplicar-filtro {
        width: 100%;
    }

    /* Sección de la tabla */
    .seccion-tabla h2 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tabla-pedidos th,
    .tabla-pedidos td {
        padding: 6px;
        font-size: 14px;
    }

    .tabla-pedidos {
        margin: 10px 0;
    }

    .boton-ver-pdf {
        width: 100%;
        margin-top: 10px;
    }
}
